<mat-card class="main-card">
  <mat-card-title>ລາຍການຊື້ທັງໝົດ</mat-card-title>
  <div class="form-group">
    <div class="row">
      <div class="col col-sm-12 col-md-11">
        <input type="text" id="searchForm" class="form-control" placeholder="ຄົ້ນຫາ...">
      </div>
      <div class="col col-sm-12 col-md-1 text-right">
        <button mat-raised-button color="primary" (click)="addNewPurchase()" style="width: 100%;vertical-align: middle;">Purchase</button>
      </div>
    </div>
  </div>
  <mat-card-content>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <th scope="row" class="text-center">ລະຫັດ</th>
        <th scope="col" class="text-center">Refno</th>
        <th scope="col" class="text-center">ຊື່ສິນຄ້າ</th>
        <th scope="col" class="text-center">ຈຳນວນ</th>
        <th scope="col" class="text-center">ລາຄາ</th>
        <th scope="col" class="text-center">ລວມ</th>
        <th scope="col" class="text-center">ວັນທີ່ຊື້</th>
        <th scope="col" class="text-center">ໃບເກັບເງິນເລກທີ</th>
        <th scope="col" class="text-center">ຜູ້ສະໜອງ</th>
        <th scope="col" class="text-center">ຜຸ້ຊື້</th>
        <th scope="col" class="text-center">ຈັດການ</th>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td class="text-center">{{ purchase.id }}</td>
          <td class="text-center" (click)="show(purchase.refno)" style="cursor: pointer">{{ purchase.refno }}</td>
          <td class="text-center">{{ purchase.productName }}</td>
          <td class="text-center">{{ purchase.quantity | number }}</td>
          <td class="text-center">{{ purchase.price | number }}</td>
          <td class="text-center">{{ purchase.total | number }}</td>
          <td class="text-center">{{ purchase.purchaseDate |date: 'dd-MMM-yyyy'}}</td>
          <td class="text-center">{{ purchase.invoiceNo }}</td>
          <td class="text-center">{{ purchase.shopName }}</td>
          <td class="text-center">{{ purchase.username }}</td>
          <td class="text-center">
            <button mat-raised-button color="warn" style="margin: 0; width: 100%; vertical-align: middle;">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
