<div class="card">
  <div class="card-body">
    <div class="row-fluid">

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-12">
          <label for="inputCity">ຊື່ສິນຄ້າ</label>
          <input type="text" placeholder="inline search ..." class="form-control" id="inputCity" [(ngModel)]="searchText">
        </div>
      </div>

    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div>
      <div class="row-fluid">
        <table class="table table-bordered ">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">ລະຫັດສິນຄ້າ</th>
              <th scope="col" class="text-center">ຊື່ສິນຄ້າ</th>
              <th scope="col " class="text-center">ປະເພດສິນຄ້າ</th>
              <th scope="col " class="text-center">ຍອດຕ່ຳສຸດ</th>
              <th scope="col " class="text-center">ຈຳນວນ</th>
              <th scope="col " class="text-center">ຈຳນວນ ທີ່ຍັງເຫຼືອ</th>
              <th scope="col " class="text-center">ໜ່ວຍ</th>
              <th scope="col " class="text-center">ຕົ້ນທຶນ</th>

              <th scope="col " class="text-center">ຜູ້ສະໜອງ</th>
              <th scope="col " class="text-center">ວັນທິ່ຊື້</th>
              <th scope="col " class="text-center">ໝົດອາຍຸ</th>
              <th scope="col " class="text-center">ສ້າງໂດຍ</th>
              <th scope="col " class="text-center">ຈັກການ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products | productFilter:searchText">
              <th scope="row " class="text-center">{{ product.id }}</th>
              <td class="text-left">{{ product.productName }}</td>
              <td class="text-center">{{ product.productTypeCode }}</td>
              <td class="text-center">{{ product.minimumStock }}</td>
              <td class="text-center">{{ product.initQuantity }}</td>
              <td class="text-center">{{ product.currentQuantity }}</td>
              <td class="text-center">{{ product.unitName }}</td>
              <td class="text-right">{{ product.cost |number}}</td>

              <td class="text-center">{{ product.shopName }}</td>
              <td class="text-center">{{ product.updatedAt |date: 'dd-MMM-yyyy' }}</td>
              <td class="text-center">{{ product.expiryDate |date: 'dd-MMM-yyyy' }}</td>
              <td class="text-center">{{ product.username }}</td>
              <td class="text-center">
                <div class="row-fluid text-center">
                  <button mat-raised-button color="warn" (click)="updateProduct(product.id)" class="custom-btn">update
                    info</button>
                  <button mat-raised-button color="primary" (click)="updateStockQuantity(product)" class="custom-btn ">update
                    Stock</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row text-right">
      <div class="col">
        <button mat-raised-button color="primary" (click)="openDialog()" class="custom-button">Add new</button>
      </div>
    </div>

  </div>
</div>
