<div class="card">
  <div class="card-body">
    <div class="row-fluid">
      <form>
        <div class="form-row">

          <div class="form-group col-md-4">
            <label for="inputState">ປະເພດສິນຄ້າ</label>
            <select id="inputState" class="form-control">
              <option value="-1">ທັງໝົດ</option>
              <option value="{{ type.id }}" *ngFor="let type of producttypes">{{ type.productTypeCode }}</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="inputCity">ຊື່ສິນຄ້າ</label>
            <input type="text" placeholder="inline search ..." class="form-control" id="inputCity">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Type</th>
            <th scope="col">Minimum Quantity</th>
            <th scope="col">Init Quantity</th>
            <th scope="col">Current Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Cost</th>
            <th scope="col">price</th>
            <th scope="col">Vendor</th>
            <th scope="col">Stock date</th>
            <th scope="col">Expiry date</th>
            <th scope="col">Create by</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.productName }}</td>
            <td>{{ product.productTypeCode }}</td>
            <td>{{ product.minimumStock }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.currentQuantity }}</td>
            <td>{{ product.unitName }}</td>
            <td>{{ product.cost |number}}</td>
            <td>{{ product.price |number }}</td>
            <td>{{ product.shopName }}</td>
            <td>{{ product.stockDate |date: 'dd-MMM-yyyy' }}</td>
            <td>{{ product.expiryDate |date: 'dd-MMM-yyyy' }}</td>
            <td>{{ product.username }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
